<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <title>Design Time</title>
</head>
<body>
    <div class="container">
        <span>
            <a href="/"><img class="image-blur" src="/css/imgs/logo.png" alt="logo"></a>
        </span>
        <header>
          <%- include('./partials/nav') %> 
        </header>
    </div>
    <main>
        <div class="rowImg">
        <% blogs.forEach(blog => { %>
                <h2><%= blog.name %></h2>
                <div>
                    <a href="/activeusers/<%= blog._id %>"><img class="blogImg" src="<%=blog.img%>"/></a>
                </div> 
        <% }) %> 
            </div>
        <h2><%=  %> </h2>
    </main>
 
</body>
</html>