<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <h1><%= user.username %> | Edit Profile</h1>
    <form action="/users" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= user.email %>"/>

        <label for="username">Username:</label>
        <input type="username" name="username" id="username" value="<%= user.username %>"/>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="<%= user.password %>"/>

        <label for="biography">Biography:</label>
        <input type="text" name="biography" id="biography" value="<%= user.biography %>"/>

        <input type="submit" value="Edit Profile">
    </form>
</body>
</html>