<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title>My Profile</title>
</head>
<body>
    <div class="container">
        <span>
          <a href="/"><img class="image-blur" src="/css/imgs/logo.png" alt="logo"></a>
        </span>
        <header>
          <%- include('../partials/nav') %> 
        </header>
      </div>
    <span class="secondTitle"><%= currentUser.username %></span>
    <main>        
            <ul style="list-style-type: none;">
                <li><%= currentUser.biography %> </li>
                <li><a href="/users/<%= currentUser._id %>/edit">Edit Profile</a></li>
            </ul>
            
    </main>
        
</body>
</html>