<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title>Edit Post</title>
</head>
<body>
    <div class="container">
        <span>
          <a href="/"><img class="image-blur" src="/css/imgs/logo.png" alt="logo"></a>
        </span>
        <header>
          <%- include('../partials/nav') %> 
        </header>
    </div>
    <span class="secondTitle">Edit <%= blog.name %></span>
    <main>
      <div class="containerSign"> 
        <form class="addBlog" action="/activeusers/<%= blog._id %>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= blog.name %>"/><br/>
            Image: <input type="text" name="img" value="<%= blog.img %>"/><br/>
            Description: <textarea name="biography"><%= blog.biography %></textarea><br/>
            <input type="submit" value="Edit Blog"/><br/>
        </form>
      </div>
    </main>
</body>
</html>