<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title>My Post</title>
</head>
<body>
    <div class="container">
        <span>
            <a href="/"><img class="image-blur" src="/css/imgs/logo.png" alt="logo"></a>
        </span>
        <header>
          <%- include('../partials/nav') %> 
        </header>
      </div>
    <span class="secondTitle"><%= blog.name %></span>
    <main>
        <div class="blogEntry">
            <ul style="list-style-type: none;">
                <li><img class="blogImg" src="<%= blog.img %>"/></li><br/>
                <li><%= blog.biography %> </li><br/>
            </ul>
        </div>
    </main>
    <footer>
        <form class="deleteBtn" action="/activeusers/<%= blog._id %>/?_method=DELETE" method="POST">
            <input type="submit" value="DELETE POST"/>
        </form>
        <a class="editButton" href="/activeusers/<%= blog._id %>/edit">Edit Post</a>
    </footer>
</body>
</html>